
@{
    ViewBag.meta = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="breadcrumbs">
    <div class="container">
        <div class="inner">
            <ul itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <li class="home"> <a itemprop="url" title="Quay lại trang chủ" href="/"><span itemprop="title">Trang chủ</span></a><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>


                <li><span itemprop="title">Tất cả sản phẩm</span></li>


            </ul>
        </div>
    </div>
</div>



<div class="main-container col2-left-layout">
    <div class="container">
        <div class="row">
            <div class="col-main col-sm-12 col-md-push-3 col-md-9 col-lg-9 collection">
                <div class="category-description std">
                    <div class="slider-items-products">

                        <img src="//bizweb.dktcdn.net/100/154/087/themes/612450/assets/bg-cate.jpg?1515765301774" alt="Tất cả sản phẩm" style="max-width:100%" />


                    </div>
                    <div class="">
                        <h1 class="cat-heading">
                            Tất cả sản phẩm
                            <div class="filte-cate hidden-lg hidden-md hidden-sm">
                                <i class="fa fa-filter" aria-hidden="true"></i> Bộ lọc
                            </div>
                        </h1>
                    </div>
                </div>
                <div class="category-products">
                    <article class="col-main">


                        <div class="toolbar">
                            <div class="sorter col-md-4 col-sm-4 col-lg-4 hidden-xs">
                                <ul class="tab-collection tab">
                                    <li class="tab-collection-grid tablinks"><a href="javascript:void(0)" class="grid-grid active"></a></li>
                                </ul>
                            </div>

                            <div id="sort-by">
                                <label class="left">Sắp xếp: </label>
                                <ul>
                                    <li>
                                        Thứ tự										<span class="right-arrow"></span>
                                        <ul>
                                            <li><a href="?sortby=manual">Ngẫu nhiên</a></li>
                                            <li><a href="?sortby=best-selling">Bán chạy nhất</a></li>
                                            <li><a href="?sortby=alpha-asc">A &rarr; Z</a></li>
                                            <li><a href="?sortby=alpha-desc">Z &rarr; A</a></li>
                                            <li><a href="?sortby=price-asc">Giá tăng dần</a></li>
                                            <li><a href="?sortby=price-desc">Giá giảm dần</a></li>
                                            <li><a href="?sortby=created-desc">Hàng mới nhất</a></li>
                                            <li><a href="?sortby=created-asc">Hàng cũ nhất</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                        </div>


                        <div class="pager">
                            <div class="pages">
                                <label>Trang:</label>
                                <ul class="pagination">




                                    <li class="active"><a href="#" style="pointer-events:none">1</a></li>




                                    <li><a href="/collections/all?page=2">2</a></li>



                                    <li><a href="/collections/all?page=2" title="2">&raquo;</a></li>

                                </ul>
                            </div>
                        </div>

                        <!-- san pham theo chu de-->

                        <div id="grid" class="tabcontent">
                            <div class="category-products row masonry-container">
                                @Html.Action("SanPhamTheoChuDe", "Home", new { id = Model.MaDM, metatitle = @Model.meta })
                            </div>
                            <!--- san pham theo chu de-->
                        </div>
                        <div id="list" class="tabcontent" style="display: none;">
                            <div class="category-products pull-left">
                                <ol class="products-list cls_list" id="products-list">

                                    <li class="item even">
                                        <div class="product-image">
                                            <a href="/collections/all/products/kho-hang" title="kho hàng">
                                                <img class="small-image" src="//bizweb.dktcdn.net/thumb/compact/100/154/087/products/iphone.jpg?v=1513244680080" alt="kho hàng">
                                            </a>
                                        </div>
                                        <div class="product-shop">
                                            <h3 class="product-name"><a href="/collections/all/products/kho-hang" title="kho hàng">kho hàng</a></h3>

                                            <div class="price-box">


                                                <p class="special-price">
                                                    <span class="price-label">Giá khuyến mại</span>
                                                    <span class="price">9.000.000₫</span>
                                                </p>
                                                <p class="old-price">
                                                    <span class="price-label">Giảm giá:</span>
                                                    <span class="price" id="old-price">-53%</span>
                                                </p>


                                            </div>

                                            <div class="desc std">
                                                <p>  sản phẩm quản lý kho, hết hàng <a class="link-learn" href="/collections/all/products/kho-hang">Xem thêm</a> </p>
                                            </div>
                                            <div class="actions">

                                                <form action="/cart/add" method="post" class="variants" id="product-actions-9351804" style="float: left;" enctype="multipart/form-data">


                                                    <button class="button btn-cart btn-more" title="Chọn sản phẩm" type="button" onclick="window.location.href='/kho-hang'"><span>Mua hàng</span></button>

                                                </form>
                                                <div class="eye-product"><a href="/kho-hang" title="kho hàng"><img class="eye-img" src="//bizweb.dktcdn.net/100/154/087/themes/612450/assets/eye.png?1515765301774" alt="Xem trước" /></a></div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="item odd">










                                        <div class="product-image">
                                            <a href="/collections/all/products/k-thuong-hieu-loai-ao" title="K thương hiệu loại Áo">
                                                <img class="small-image" src="//bizweb.dktcdn.net/thumb/compact/assets/themes_support/noimage.gif" alt="K thương hiệu loại Áo">
                                            </a>
                                        </div>
                                        <div class="product-shop">
                                            <h3 class="product-name"><a href="/collections/all/products/k-thuong-hieu-loai-ao" title="K thương hiệu loại Áo">K thương hiệu loại Áo</a></h3>

                                            <div class="price-box">

                                                <span class="regular-price">

                                                    <a href="/lien-he"><span class="price">Liên hệ</span></a>

                                                </span>

                                            </div>

                                            <div class="desc std">
                                                <p> <a class="link-learn" href="/collections/all/products/k-thuong-hieu-loai-ao">Xem thêm</a> </p>
                                            </div>
                                            <div class="actions">

                                                <div class="eye-product"><a href="/k-thuong-hieu-loai-ao" title="K thương hiệu loại Áo"><img class="eye-img" src="//bizweb.dktcdn.net/100/154/087/themes/612450/assets/eye.png?1515765301774" alt="Xem trước" /></a></div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="item even">










                                        <div class="product-image">
                                            <a href="/collections/all/products/thuong-hieu-grap-khong-co-loai" title="Thương hiệu Grap không có loại">
                                                <img class="small-image" src="//bizweb.dktcdn.net/thumb/compact/assets/themes_support/noimage.gif" alt="Thương hiệu Grap không có loại">
                                            </a>
                                        </div>
                                        <div class="product-shop">
                                            <h3 class="product-name"><a href="/collections/all/products/thuong-hieu-grap-khong-co-loai" title="Thương hiệu Grap không có loại">Thương hiệu Grap không có loại</a></h3>

                                            <div class="price-box">

                                                <span class="regular-price">

                                                    <a href="/lien-he"><span class="price">Liên hệ</span></a>

                                                </span>

                                            </div>

                                            <div class="desc std">
                                                <p> <a class="link-learn" href="/collections/all/products/thuong-hieu-grap-khong-co-loai">Xem thêm</a> </p>
                                            </div>
                                            <div class="actions">

                                                <div class="eye-product"><a href="/thuong-hieu-grap-khong-co-loai" title="Thương hiệu Grap không có loại"><img class="eye-img" src="//bizweb.dktcdn.net/100/154/087/themes/612450/assets/eye.png?1515765301774" alt="Xem trước" /></a></div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="item odd">










                                        <div class="product-image">
                                            <a href="/collections/all/products/thuong-hieu-grap-loai-ao" title="Thương hiệu Grap Loại Áo">
                                                <img class="small-image" src="//bizweb.dktcdn.net/thumb/compact/assets/themes_support/noimage.gif" alt="Thương hiệu Grap Loại Áo">
                                            </a>
                                        </div>
                                        <div class="product-shop">
                                            <h3 class="product-name"><a href="/collections/all/products/thuong-hieu-grap-loai-ao" title="Thương hiệu Grap Loại Áo">Thương hiệu Grap Loại Áo</a></h3>

                                            <div class="price-box">

                                                <span class="regular-price">

                                                    <a href="/lien-he"><span class="price">Liên hệ</span></a>

                                                </span>

                                            </div>

                                            <div class="desc std">
                                                <p> <a class="link-learn" href="/collections/all/products/thuong-hieu-grap-loai-ao">Xem thêm</a> </p>
                                            </div>
                                            <div class="actions">

                                                <div class="eye-product"><a href="/thuong-hieu-grap-loai-ao" title="Thương hiệu Grap Loại Áo"><img class="eye-img" src="//bizweb.dktcdn.net/100/154/087/themes/612450/assets/eye.png?1515765301774" alt="Xem trước" /></a></div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="item even">










                                        <div class="product-image">
                                            <a href="/collections/all/products/tui-xach-nu" title="Túi xách nữ">
                                                <img class="small-image" src="//bizweb.dktcdn.net/thumb/compact/100/154/087/products/6-cach-nhan-biet-tui-xach-hang-hieu-that-gia-1.jpg?v=1494319123963" alt="Túi xách nữ">
                                            </a>
                                        </div>
                                        <div class="product-shop">
                                            <h3 class="product-name"><a href="/collections/all/products/tui-xach-nu" title="Túi xách nữ">Túi xách nữ</a></h3>

                                            <div class="price-box">

                                                <span class="regular-price">


                                                    <span class="price">450.000₫</span>

                                                </span>

                                            </div>

                                            <div class="desc std">
                                                <p>
                                                    <a class="link-learn" href="/collections/all/products/tui-xach-nu">Xem thêm</a>
                                                </p>
                                            </div>
                                            <div class="actions">

                                                <form action="/cart/add" method="post" class="variants" id="product-actions-6684177" style="float: left;" enctype="multipart/form-data">


                                                    <button class="button btn-cart btn-more" title="Chọn sản phẩm" type="button" onclick="window.location.href='/tui-xach-nu'"><span>Mua hàng</span></button>

                                                </form>
                                                <div class="eye-product"><a href="/tui-xach-nu" title="Túi xách nữ"><img class="eye-img" src="//bizweb.dktcdn.net/100/154/087/themes/612450/assets/eye.png?1515765301774" alt="Xem trước" /></a></div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="item odd">










                                        <div class="product-image">
                                            <a href="/collections/all/products/new-for-penny-style-retro-skateboards-mini-board-complete-22-plastic-c" title="Ván Trượt xanh biển">
                                                <img class="small-image" src="//bizweb.dktcdn.net/thumb/compact/100/154/087/products/van-truot-be-2.jpg?v=1483952251270" alt="Ván Trượt xanh biển">
                                            </a>
                                        </div>
                                        <div class="product-shop">
                                            <h3 class="product-name"><a href="/collections/all/products/new-for-penny-style-retro-skateboards-mini-board-complete-22-plastic-c" title="Ván Trượt xanh biển">Ván Trượt xanh biển</a></h3>

                                            <div class="price-box">

                                                <span class="regular-price">


                                                    <span class="price">899.000₫</span>

                                                </span>

                                            </div>

                                            <div class="desc std">
                                                <p>
                                                    Đặc điểm chính:




                                                    SKU
                                                    OE680SPAA1JOLRVNAMZ-2517006


                                                    Mẫu mã
                                                    sportschannel-96952.06


                                                    Kích thước sản phẩm...<a class="link-learn" href="/collections/all/products/new-for-penny-style-retro-skateboards-mini-board-complete-22-plastic-c">Xem thêm</a>
                                                </p>
                                            </div>
                                            <div class="actions">

                                                <form action="/cart/add" method="post" class="variants" id="product-actions-5002583" style="float: left;" enctype="multipart/form-data">


                                                    <button class="button btn-cart btn-more" title="Chọn sản phẩm" type="button" onclick="window.location.href='/new-for-penny-style-retro-skateboards-mini-board-complete-22-plastic-c'"><span>Mua hàng</span></button>

                                                </form>
                                                <div class="eye-product"><a href="/new-for-penny-style-retro-skateboards-mini-board-complete-22-plastic-c" title="Ván Trượt xanh biển"><img class="eye-img" src="//bizweb.dktcdn.net/100/154/087/themes/612450/assets/eye.png?1515765301774" alt="Xem trước" /></a></div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="item even">










                                        <div class="product-image">
                                            <a href="/collections/all/products/xe-tu-can-bang-6-5-inch-al" title="Xe tự cân bằng 6.5 inch - AL">
                                                <img class="small-image" src="//bizweb.dktcdn.net/thumb/compact/100/154/087/products/xe-i-n-2-b-nh-t-c-n-b-ng.jpg?v=1485135983090" alt="Xe tự cân bằng 6.5 inch - AL">
                                            </a>
                                        </div>
                                        <div class="product-shop">
                                            <h3 class="product-name"><a href="/collections/all/products/xe-tu-can-bang-6-5-inch-al" title="Xe tự cân bằng 6.5 inch - AL">Xe tự cân bằng 6.5 inch - AL</a></h3>

                                            <div class="price-box">

                                                <span class="regular-price">


                                                    <span class="price">3.999.000₫</span>

                                                </span>

                                            </div>

                                            <div class="desc std">
                                                <p>
                                                    Thông tin chi tiết

                                                    Xe điện tự cân bằng thông minh Smart Balance Wheel được thiết kế bởi 2 miếng ván nối với...<a class="link-learn" href="/collections/all/products/xe-tu-can-bang-6-5-inch-al">Xem thêm</a>
                                                </p>
                                            </div>
                                            <div class="actions">

                                                <form action="/cart/add" method="post" class="variants" id="product-actions-5002544" style="float: left;" enctype="multipart/form-data">


                                                    <button class="button btn-cart btn-more" title="Chọn sản phẩm" type="button" onclick="window.location.href='/xe-tu-can-bang-6-5-inch-al'"><span>Mua hàng</span></button>

                                                </form>
                                                <div class="eye-product"><a href="/xe-tu-can-bang-6-5-inch-al" title="Xe tự cân bằng 6.5 inch - AL"><img class="eye-img" src="//bizweb.dktcdn.net/100/154/087/themes/612450/assets/eye.png?1515765301774" alt="Xem trước" /></a></div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="item odd">










                                        <div class="product-image">
                                            <a href="/collections/all/products/tui-ngu-tien-dung-sportslink" title="Túi ngủ tiện dụng Sportslink">
                                                <img class="small-image" src="//bizweb.dktcdn.net/thumb/compact/100/154/087/products/campinghikingenvelopewaterproofsleepingbagwithcarryingbag-sku125501-2-800x800.jpg?v=1483952508197" alt="Túi ngủ tiện dụng Sportslink">
                                            </a>
                                        </div>
                                        <div class="product-shop">
                                            <h3 class="product-name"><a href="/collections/all/products/tui-ngu-tien-dung-sportslink" title="Túi ngủ tiện dụng Sportslink">Túi ngủ tiện dụng Sportslink</a></h3>

                                            <div class="price-box">

                                                <span class="regular-price">


                                                    <span class="price">450.000₫</span>

                                                </span>

                                            </div>

                                            <div class="desc std">
                                                <p>
                                                    Kiểu: Phong bì / hình chữ nhật
                                                    Nhiệt độ thoải mái: [cao hơn 15 ℃]
                                                    Mùa: mùa hè
                                                    Giới hạn nhiệt độ: 5 độ...<a class="link-learn" href="/collections/all/products/tui-ngu-tien-dung-sportslink">Xem thêm</a>
                                                </p>
                                            </div>
                                            <div class="actions">

                                                <form action="/cart/add" method="post" class="variants" id="product-actions-5002458" style="float: left;" enctype="multipart/form-data">


                                                    <button class="button btn-cart btn-more" title="Chọn sản phẩm" type="button" onclick="window.location.href='/tui-ngu-tien-dung-sportslink'"><span>Mua hàng</span></button>

                                                </form>
                                                <div class="eye-product"><a href="/tui-ngu-tien-dung-sportslink" title="Túi ngủ tiện dụng Sportslink"><img class="eye-img" src="//bizweb.dktcdn.net/100/154/087/themes/612450/assets/eye.png?1515765301774" alt="Xem trước" /></a></div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="item even">










                                        <div class="product-image">
                                            <a href="/collections/all/products/leu-phuot-4-nguoi-2-lop-wissblue" title="Lều phượt 4 người 2 lớp Wissblue">
                                                <img class="small-image" src="//bizweb.dktcdn.net/thumb/compact/100/154/087/products/12311.jpg?v=1484367695447" alt="Lều phượt 4 người 2 lớp Wissblue">
                                            </a>
                                        </div>
                                        <div class="product-shop">
                                            <h3 class="product-name"><a href="/collections/all/products/leu-phuot-4-nguoi-2-lop-wissblue" title="Lều phượt 4 người 2 lớp Wissblue">Lều phượt 4 người 2 lớp Wissblue</a></h3>

                                            <div class="price-box">

                                                <span class="regular-price">


                                                    <span class="price">800.000₫</span>

                                                </span>

                                            </div>

                                            <div class="desc std">
                                                <p>
                                                    Giới thiệu sản phẩm Lều phượt 4 người 2 lớp Wissblue

                                                    Lều 4 Người 2Mx2Mx1M45 2 lớp đường may ép keo Wissblue
                                                    Kích...<a class="link-learn" href="/collections/all/products/leu-phuot-4-nguoi-2-lop-wissblue">Xem thêm</a>
                                                </p>
                                            </div>
                                            <div class="actions">

                                                <form action="/cart/add" method="post" class="variants" id="product-actions-5002456" style="float: left;" enctype="multipart/form-data">


                                                    <button class="button btn-cart btn-more" title="Chọn sản phẩm" type="button" onclick="window.location.href='/leu-phuot-4-nguoi-2-lop-wissblue'"><span>Mua hàng</span></button>

                                                </form>
                                                <div class="eye-product"><a href="/leu-phuot-4-nguoi-2-lop-wissblue" title="Lều phượt 4 người 2 lớp Wissblue"><img class="eye-img" src="//bizweb.dktcdn.net/100/154/087/themes/612450/assets/eye.png?1515765301774" alt="Xem trước" /></a></div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="item odd">










                                        <div class="product-image">
                                            <a href="/collections/all/products/ao-xe-dap-nalini" title="Áo xe đạp Nalini">
                                                <img class="small-image" src="//bizweb.dktcdn.net/thumb/compact/100/154/087/products/ao1.jpg?v=1493869672497" alt="Áo xe đạp Nalini">
                                            </a>
                                        </div>
                                        <div class="product-shop">
                                            <h3 class="product-name"><a href="/collections/all/products/ao-xe-dap-nalini" title="Áo xe đạp Nalini">Áo xe đạp Nalini</a></h3>

                                            <div class="price-box">

                                                <span class="regular-price">


                                                    <span class="price">300.000₫</span>

                                                </span>

                                            </div>

                                            <div class="desc std">
                                                <p>
                                                    MÔ TẢ SẢN PHẨM
                                                    Áo xe đạp chất liệu vải thun cao cấp, thiết kế thời trang thể thao đặc biệt dành cho nguời...<a class="link-learn" href="/collections/all/products/ao-xe-dap-nalini">Xem thêm</a>
                                                </p>
                                            </div>
                                            <div class="actions">

                                                <form action="/cart/add" method="post" class="variants" id="product-actions-5002400" style="float: left;" enctype="multipart/form-data">


                                                    <button class="button btn-cart btn-more" title="Chọn sản phẩm" type="button" onclick="window.location.href='/ao-xe-dap-nalini'"><span>Mua hàng</span></button>

                                                </form>
                                                <div class="eye-product"><a href="/ao-xe-dap-nalini" title="Áo xe đạp Nalini"><img class="eye-img" src="//bizweb.dktcdn.net/100/154/087/themes/612450/assets/eye.png?1515765301774" alt="Xem trước" /></a></div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="item even">










                                        <div class="product-image">
                                            <a href="/collections/all/products/giay-the-thao-nam-puma-expedite-187561-15" title="Giày thể thao nam Puma Expedite 187561 15">
                                                <img class="small-image" src="//bizweb.dktcdn.net/thumb/compact/100/154/087/products/giay1.jpg?v=1484368791147" alt="Giày thể thao nam Puma Expedite 187561 15">
                                            </a>
                                        </div>
                                        <div class="product-shop">
                                            <h3 class="product-name"><a href="/collections/all/products/giay-the-thao-nam-puma-expedite-187561-15" title="Giày thể thao nam Puma Expedite 187561 15">Giày thể thao nam Puma Expedite 187561 15</a></h3>

                                            <div class="price-box">

                                                <span class="regular-price">


                                                    <span class="price">1.350.000₫</span>

                                                </span>

                                            </div>

                                            <div class="desc std">
                                                <p>
                                                    Giới thiệu sản phẩm Giày thể thao nam Puma Expedite 187561 15 (Xanh)

                                                    Puma  có trụ sở tại Đức, là một...<a class="link-learn" href="/collections/all/products/giay-the-thao-nam-puma-expedite-187561-15">Xem thêm</a>
                                                </p>
                                            </div>
                                            <div class="actions">

                                                <form action="/cart/add" method="post" class="variants" id="product-actions-5002357" style="float: left;" enctype="multipart/form-data">


                                                    <button class="button btn-cart btn-more" title="Chọn sản phẩm" type="button" onclick="window.location.href='/giay-the-thao-nam-puma-expedite-187561-15'"><span>Mua hàng</span></button>

                                                </form>
                                                <div class="eye-product"><a href="/giay-the-thao-nam-puma-expedite-187561-15" title="Giày thể thao nam Puma Expedite 187561 15"><img class="eye-img" src="//bizweb.dktcdn.net/100/154/087/themes/612450/assets/eye.png?1515765301774" alt="Xem trước" /></a></div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="item odd">










                                        <div class="product-image">
                                            <a href="/collections/all/products/giay-the-thao-nam-puma-ignite-dual-189094-01" title="Giày thể thao nam Puma IGNITE Dual 189094 01">
                                                <img class="small-image" src="//bizweb.dktcdn.net/thumb/compact/100/154/087/products/quatemaze-duma-2-313f8c44-baf8-437a-9e5d-d2f55ac10480.jpg?v=1483953562080" alt="Giày thể thao nam Puma IGNITE Dual 189094 01">
                                            </a>
                                        </div>
                                        <div class="product-shop">
                                            <h3 class="product-name"><a href="/collections/all/products/giay-the-thao-nam-puma-ignite-dual-189094-01" title="Giày thể thao nam Puma IGNITE Dual 189094 01">Giày thể thao nam Puma IGNITE Dual 189094 01</a></h3>

                                            <div class="price-box">

                                                <span class="regular-price">


                                                    <span class="price">1.350.000₫</span>

                                                </span>

                                            </div>

                                            <div class="desc std">
                                                <p>
                                                    Giới thiệu sản phẩm Giày thể thao nam Puma IGNITE Dual 189094 01 (Đỏ đen)

                                                    Linh hoạt, nhẹ và mạnh mẽ là những...<a class="link-learn" href="/collections/all/products/giay-the-thao-nam-puma-ignite-dual-189094-01">Xem thêm</a>
                                                </p>
                                            </div>
                                            <div class="actions">

                                                <form action="/cart/add" method="post" class="variants" id="product-actions-5002354" style="float: left;" enctype="multipart/form-data">


                                                    <button class="button btn-cart btn-more" title="Chọn sản phẩm" type="button" onclick="window.location.href='/giay-the-thao-nam-puma-ignite-dual-189094-01'"><span>Mua hàng</span></button>

                                                </form>
                                                <div class="eye-product"><a href="/giay-the-thao-nam-puma-ignite-dual-189094-01" title="Giày thể thao nam Puma IGNITE Dual 189094 01"><img class="eye-img" src="//bizweb.dktcdn.net/100/154/087/themes/612450/assets/eye.png?1515765301774" alt="Xem trước" /></a></div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="item even">










                                        <div class="product-image">
                                            <a href="/collections/all/products/ba-lo-targus-15-6-seoul-backpack" title="Ba lô Targus 15.6″ Seoul Backpack">
                                                <img class="small-image" src="//bizweb.dktcdn.net/thumb/compact/100/154/087/products/targus-15-6-seoul-backpack-den-300x300.jpg?v=1481160053170" alt="Ba lô Targus 15.6″ Seoul Backpack">
                                            </a>
                                        </div>
                                        <div class="product-shop">
                                            <h3 class="product-name"><a href="/collections/all/products/ba-lo-targus-15-6-seoul-backpack" title="Ba lô Targus 15.6″ Seoul Backpack">Ba lô Targus 15.6″ Seoul Backpack</a></h3>

                                            <div class="price-box">

                                                <span class="regular-price">


                                                    <span class="price">1.560.000₫</span>

                                                </span>

                                            </div>

                                            <div class="desc std">
                                                <p>
                                                    Thông tin sản phẩm

                                                    Ba lô Targus 15.6″ Seoul Backpack là mẫu balo có kiểu dáng rất thời trang, mang đậm...<a class="link-learn" href="/collections/all/products/ba-lo-targus-15-6-seoul-backpack">Xem thêm</a>
                                                </p>
                                            </div>
                                            <div class="actions">

                                                <form action="/cart/add" method="post" class="variants" id="product-actions-5002324" style="float: left;" enctype="multipart/form-data">


                                                    <button class="button btn-cart btn-more" title="Chọn sản phẩm" type="button" onclick="window.location.href='/ba-lo-targus-15-6-seoul-backpack'"><span>Mua hàng</span></button>

                                                </form>
                                                <div class="eye-product"><a href="/ba-lo-targus-15-6-seoul-backpack" title="Ba lô Targus 15.6″ Seoul Backpack"><img class="eye-img" src="//bizweb.dktcdn.net/100/154/087/themes/612450/assets/eye.png?1515765301774" alt="Xem trước" /></a></div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="item odd">










                                        <div class="product-image">
                                            <a href="/collections/all/products/balo-laptop-simplecarry-k1-backpack-navy-grey" title="Balo laptop Simplecarry K1 backpack navy grey">
                                                <img class="small-image" src="//bizweb.dktcdn.net/thumb/compact/100/154/087/products/corned-beefeaco.jpg?v=1481159562567" alt="Balo laptop Simplecarry K1 backpack navy grey">
                                            </a>
                                        </div>
                                        <div class="product-shop">
                                            <h3 class="product-name"><a href="/collections/all/products/balo-laptop-simplecarry-k1-backpack-navy-grey" title="Balo laptop Simplecarry K1 backpack navy grey">Balo laptop Simplecarry K1 backpack navy grey</a></h3>

                                            <div class="price-box">

                                                <span class="regular-price">


                                                    <span class="price">690.000₫</span>

                                                </span>

                                            </div>

                                            <div class="desc std">
                                                <p>
                                                    Thông tin sản phẩm :


                                                    Kích thước 3 chiều : 30cm x 43cm x 12cm
                                                    Chất liệu : Polyester...<a class="link-learn" href="/collections/all/products/balo-laptop-simplecarry-k1-backpack-navy-grey">Xem thêm</a>
                                                </p>
                                            </div>
                                            <div class="actions">

                                                <form action="/cart/add" method="post" class="variants" id="product-actions-5002299" style="float: left;" enctype="multipart/form-data">


                                                    <button class="button btn-cart btn-more" title="Chọn sản phẩm" type="button" onclick="window.location.href='/balo-laptop-simplecarry-k1-backpack-navy-grey'"><span>Mua hàng</span></button>

                                                </form>
                                                <div class="eye-product"><a href="/balo-laptop-simplecarry-k1-backpack-navy-grey" title="Balo laptop Simplecarry K1 backpack navy grey"><img class="eye-img" src="//bizweb.dktcdn.net/100/154/087/themes/612450/assets/eye.png?1515765301774" alt="Xem trước" /></a></div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="item even">










                                        <div class="product-image">
                                            <a href="/collections/all/products/copy-of-tui-xach-nu-thoi-trang-dt1235" title="Túi xách nữ thời trang DT1236">
                                                <img class="small-image" src="//bizweb.dktcdn.net/thumb/compact/100/154/087/products/tui1.jpg?v=1484368577847" alt="Túi xách nữ thời trang DT1236">
                                            </a>
                                        </div>
                                        <div class="product-shop">
                                            <h3 class="product-name"><a href="/collections/all/products/copy-of-tui-xach-nu-thoi-trang-dt1235" title="Túi xách nữ thời trang DT1236">Túi xách nữ thời trang DT1236</a></h3>

                                            <div class="price-box">

                                                <span class="regular-price">

                                                    <a href="/lien-he"><span class="price">Liên hệ</span></a>

                                                </span>

                                            </div>

                                            <div class="desc std">
                                                <p>  Luôn là nơi cập nhật những xu hướng mới, ĐỒ DA ĐÔNG TRUNG đã khẳng định vị trí của mình với nhiều bạn trẻ...<a class="link-learn" href="/collections/all/products/copy-of-tui-xach-nu-thoi-trang-dt1235">Xem thêm</a> </p>
                                            </div>
                                            <div class="actions">

                                                <div class="eye-product"><a href="/copy-of-tui-xach-nu-thoi-trang-dt1235" title="Túi xách nữ thời trang DT1236"><img class="eye-img" src="//bizweb.dktcdn.net/100/154/087/themes/612450/assets/eye.png?1515765301774" alt="Xem trước" /></a></div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="item odd">










                                        <div class="product-image">
                                            <a href="/collections/all/products/tui-xach-nu-thoi-trang-dt1235" title="Túi xách nữ thời trang DT1235">
                                                <img class="small-image" src="//bizweb.dktcdn.net/thumb/compact/100/154/087/products/stongue-pastrami-1.jpg?v=1481100192017" alt="Túi xách nữ thời trang DT1235">
                                            </a>
                                        </div>
                                        <div class="product-shop">
                                            <h3 class="product-name"><a href="/collections/all/products/tui-xach-nu-thoi-trang-dt1235" title="Túi xách nữ thời trang DT1235">Túi xách nữ thời trang DT1235</a></h3>

                                            <div class="price-box">

                                                <span class="regular-price">

                                                    <a href="/lien-he"><span class="price">Liên hệ</span></a>

                                                </span>

                                            </div>

                                            <div class="desc std">
                                                <p>  Luôn là nơi cập nhật những xu hướng mới, ĐỒ DA ĐÔNG TRUNG đã khẳng định vị trí của mình với nhiều bạn trẻ...<a class="link-learn" href="/collections/all/products/tui-xach-nu-thoi-trang-dt1235">Xem thêm</a> </p>
                                            </div>
                                            <div class="actions">

                                                <div class="eye-product"><a href="/tui-xach-nu-thoi-trang-dt1235" title="Túi xách nữ thời trang DT1235"><img class="eye-img" src="//bizweb.dktcdn.net/100/154/087/themes/612450/assets/eye.png?1515765301774" alt="Xem trước" /></a></div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="item even">










                                        <div class="product-image">
                                            <a href="/collections/all/products/i-phone-7" title="I phone 7">
                                                <img class="small-image" src="//bizweb.dktcdn.net/thumb/compact/100/154/087/products/iphone-7-8-400x460.png?v=1481084723263" alt="I phone 7">
                                            </a>
                                        </div>
                                        <div class="product-shop">
                                            <h3 class="product-name"><a href="/collections/all/products/i-phone-7" title="I phone 7">I phone 7</a></h3>

                                            <div class="price-box">

                                                <span class="regular-price">


                                                    <span class="price">18.000.000₫</span>

                                                </span>

                                            </div>

                                            <div class="desc std">
                                                <p>




                                                    iPhone 7 có thiết kế giống với iPhone 6s (và iPhone 6 trước đó) với thân...<a class="link-learn" href="/collections/all/products/i-phone-7">Xem thêm</a>
                                                </p>
                                            </div>
                                            <div class="actions">

                                                <form action="/cart/add" method="post" class="variants" id="product-actions-4992104" style="float: left;" enctype="multipart/form-data">


                                                    <button class="button btn-cart btn-more" title="Chọn sản phẩm" type="button" onclick="window.location.href='/i-phone-7'"><span>Mua hàng</span></button>

                                                </form>
                                                <div class="eye-product"><a href="/i-phone-7" title="I phone 7"><img class="eye-img" src="//bizweb.dktcdn.net/100/154/087/themes/612450/assets/eye.png?1515765301774" alt="Xem trước" /></a></div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="item odd">










                                        <div class="product-image">
                                            <a href="/collections/all/products/apple-ipad-mini-4-16gb-wifi-vang-hang-nhap-khau" title="Apple iPad mini 4 16GB">
                                                <img class="small-image" src="//bizweb.dktcdn.net/thumb/compact/100/154/087/products/apple-mgnr2ll-a-16gb-ipad-mini-with-1086722-zoom.jpg?v=1483951728323" alt="Apple iPad mini 4 16GB">
                                            </a>
                                        </div>
                                        <div class="product-shop">
                                            <h3 class="product-name"><a href="/collections/all/products/apple-ipad-mini-4-16gb-wifi-vang-hang-nhap-khau" title="Apple iPad mini 4 16GB">Apple iPad mini 4 16GB</a></h3>

                                            <div class="price-box">

                                                <span class="regular-price">


                                                    <span class="price">8.800.000₫</span>

                                                </span>

                                            </div>

                                            <div class="desc std">
                                                <p>
                                                    Giới thiệu sản phẩm Apple iPad mini 4 16GB Wifi (Vàng) - Hàng nhập khẩu

                                                    Hàng nhập khẩu:
                                                    Là hàng được...<a class="link-learn" href="/collections/all/products/apple-ipad-mini-4-16gb-wifi-vang-hang-nhap-khau">Xem thêm</a>
                                                </p>
                                            </div>
                                            <div class="actions">

                                                <form action="/cart/add" method="post" class="variants" id="product-actions-4884002" style="float: left;" enctype="multipart/form-data">


                                                    <button class="button btn-cart btn-more" title="Chọn sản phẩm" type="button" onclick="window.location.href='/apple-ipad-mini-4-16gb-wifi-vang-hang-nhap-khau'"><span>Mua hàng</span></button>

                                                </form>
                                                <div class="eye-product"><a href="/apple-ipad-mini-4-16gb-wifi-vang-hang-nhap-khau" title="Apple iPad mini 4 16GB"><img class="eye-img" src="//bizweb.dktcdn.net/100/154/087/themes/612450/assets/eye.png?1515765301774" alt="Xem trước" /></a></div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="item even">










                                        <div class="product-image">
                                            <a href="/collections/all/products/apple-iphone-7-128gb-vang-hang-nhap-khau" title="Apple iPhone 7 128GB (Vàng) - Hàng nhập khẩu">
                                                <img class="small-image" src="//bizweb.dktcdn.net/thumb/compact/100/154/087/products/iphone-bac11.jpg?v=1484368468033" alt="Apple iPhone 7 128GB (Vàng) - Hàng nhập khẩu">
                                            </a>
                                        </div>
                                        <div class="product-shop">
                                            <h3 class="product-name"><a href="/collections/all/products/apple-iphone-7-128gb-vang-hang-nhap-khau" title="Apple iPhone 7 128GB (Vàng) - Hàng nhập khẩu">Apple iPhone 7 128GB (Vàng) - Hàng nhập khẩu</a></h3>

                                            <div class="price-box">

                                                <span class="regular-price">


                                                    <span class="price">17.430.000₫</span>

                                                </span>

                                            </div>

                                            <div class="desc std">
                                                <p>
                                                    Giới thiệu sản phẩm Apple iPhone 7 128GB (Vàng) - Hàng nhập khẩu

                                                    Không còn jack cắm tai nghe truyền thống, thay vào...<a class="link-learn" href="/collections/all/products/apple-iphone-7-128gb-vang-hang-nhap-khau">Xem thêm</a>
                                                </p>
                                            </div>
                                            <div class="actions">

                                                <form action="/cart/add" method="post" class="variants" id="product-actions-4883936" style="float: left;" enctype="multipart/form-data">


                                                    <button class="button btn-cart btn-more" title="Chọn sản phẩm" type="button" onclick="window.location.href='/apple-iphone-7-128gb-vang-hang-nhap-khau'"><span>Mua hàng</span></button>

                                                </form>
                                                <div class="eye-product"><a href="/apple-iphone-7-128gb-vang-hang-nhap-khau" title="Apple iPhone 7 128GB (Vàng) - Hàng nhập khẩu"><img class="eye-img" src="//bizweb.dktcdn.net/100/154/087/themes/612450/assets/eye.png?1515765301774" alt="Xem trước" /></a></div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="item odd">










                                        <div class="product-image">
                                            <a href="/collections/all/products/dong-ho-nu-day-kim-loai-uss-tang-dong-nu-thoi-trang" title="Đồng hồ nữ dây kim loại USS tặng đồng nữ thời trang">
                                                <img class="small-image" src="//bizweb.dktcdn.net/thumb/compact/100/154/087/products/dongho.jpg?v=1484366938043" alt="Đồng hồ nữ dây kim loại USS tặng đồng nữ thời trang">
                                            </a>
                                        </div>
                                        <div class="product-shop">
                                            <h3 class="product-name"><a href="/collections/all/products/dong-ho-nu-day-kim-loai-uss-tang-dong-nu-thoi-trang" title="Đồng hồ nữ dây kim loại USS tặng đồng nữ thời trang">Đồng hồ nữ dây kim loại USS tặng đồng nữ thời trang</a></h3>

                                            <div class="price-box">

                                                <span class="regular-price">


                                                    <span class="price">200.000₫</span>

                                                </span>

                                            </div>

                                            <div class="desc std">
                                                <p>
                                                    Giới thiệu sản phẩm Đồng hồ nữ dây kim loại USS tặng đồng nữ thời trang

                                                    Đồng hồ  USS GE009  có...<a class="link-learn" href="/collections/all/products/dong-ho-nu-day-kim-loai-uss-tang-dong-nu-thoi-trang">Xem thêm</a>
                                                </p>
                                            </div>
                                            <div class="actions">

                                                <form action="/cart/add" method="post" class="variants" id="product-actions-4873281" style="float: left;" enctype="multipart/form-data">


                                                    <input type="hidden" name="variantId" value="7884088" />
                                                    <button class="button btn-cart add_to_cart" title="Cho vào giỏ hàng"><span>Mua hàng</span></button>

                                                </form>
                                                <div class="eye-product"><a href="/dong-ho-nu-day-kim-loai-uss-tang-dong-nu-thoi-trang" title="Đồng hồ nữ dây kim loại USS tặng đồng nữ thời trang"><img class="eye-img" src="//bizweb.dktcdn.net/100/154/087/themes/612450/assets/eye.png?1515765301774" alt="Xem trước" /></a></div>
                                            </div>
                                        </div>
                                    </li>

                                </ol>

                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-left sidebar col-lg-3 col-md-3 col-md-pull-9 col-sm-12 col-xs-12">
                <aside class="col-left sidebar">
                    <div class="danh-muc-blog  hidden-xs">
                        <div class="color-blog">
                            <h2 class="title-blog-2 h3">Danh mục sản phẩm</h2>
                        </div>
                        <div class="index-column-blog row-service">

                            <ul class="links">
                                @Html.Action("DanhMuc", "Home")
                            </ul>
                        </div>
                    </div>


                    <div class="danh-muc-blog">
                        <div class="color-blog">
                            <h2 class="title-blog-2 h3">Sản Phẩm Khuyến Mãi</h2>
                        </div>
                        <div class="index-column-blog row-service">
                            @*@Html.Action("SanPhamHot", "Home")*@
                        </div>
                    </div>




                </aside>
            </div>


            <script>
                var filter = new Bizweb.SearchFilter()

                var selectedSortby;

                function toggleFilter(e) {
                    _toggleFilter(e);
                    renderFilterdItems();
                    doSearch(1);
                }

                function _toggleFilter(e) {
                    var $element = $(e);
                    var group = $element.attr("data-group");
                    var field = $element.attr("data-field");
                    var text = $element.attr("data-text");
                    var value = $element.attr("value");
                    var operator = $element.attr("data-operator");
                    var filterItemId = $element.attr("id");

                    if (!$element.is(':checked')) {
                        filter.deleteValue(group, field, value, operator);
                    }
                    else {
                        filter.addValue(group, field, value, operator);
                    }

                    $(".catalog_filters li[data-handle='" + filterItemId + "']").toggleClass("active");
                }

                function renderFilterdItems() {
                    var $container = $(".filter-container__selected-filter-list ul");
                    $container.html("");

                    $(".filter-container input[type=checkbox]").each(function (index) {
                        if ($(this).is(':checked')) {
                            var id = $(this).attr("id");
                            var name = $(this).closest("label").text();

                            addFilteredItem(name, id);
                        }
                    });

                    if ($(".filter-container input[type=checkbox]:checked").length > 0)
                        $(".filter-container__selected-filter").show();
                    else
                        $(".filter-container__selected-filter").hide();
                }

                function addFilteredItem(name, id) {
                    var filteredItemTemplate = "<li class='filter-container__selected-filter-item' for='{3}'><a href='javascript:void(0)' onclick=\"{0}\"><i class='fa fa-close'></i> {1}</a></li>";
                    filteredItemTemplate = filteredItemTemplate.replace("{0}", "removeFilteredItem('" + id + "')");
                    filteredItemTemplate = filteredItemTemplate.replace("{1}", name);
                    filteredItemTemplate = filteredItemTemplate.replace("{3}", id);

                    var $container = $(".filter-container__selected-filter-list ul");
                    $container.append(filteredItemTemplate);
                }

                function removeFilteredItem(id) {
                    $(".filter-container #" + id).trigger("click");
                }

                function clearAllFiltered() {
                    filter = new Bizweb.SearchFilter();


                    $(".filter-container__selected-filter-list ul").html("");
                    $(".filter-container input[type=checkbox]").attr('checked', false);
                    $(".filter-container__selected-filter").hide();

                    doSearch(1);
                }

                function doSearch(page, options) {
                    if (!options) options = {};

                    NProgress.start();

                    filter.search({
                        view: "data", // Để đuôi của template search ở đây(vd: 'search.data.bwt' thì để 'data')
                        page: page,
                        sortby: selectedSortby,
                        success: function (html) {
                            var $html = $(html);

                            // Muốn thay thẻ DIV nào khi filter thì viết như này
                            var $categoryProducts = $html.find(".category-products");
                            $(".category-products").html($categoryProducts.html());
                            $('.filter-container').removeClass('show_block');
                            pushCurrentFilterState({ sortby: selectedSortby });
                            var reselectedSortby = '';
                            switch (selectedSortby) {
                                case "price_min:asc":
                                    reselectedSortby = "price-asc";
                                    break;
                                case "price_min:desc":
                                    reselectedSortby = "price-desc";
                                    break;
                                case "name:asc":
                                    reselectedSortby = "alpha-asc";
                                    break;
                                case "name:desc":
                                    reselectedSortby = "alpha-desc";
                                    break;
                                case "created_on:desc":
                                    reselectedSortby = "created-desc";
                                    break;
                                case "created_on:asc":
                                    reselectedSortby = "created-asc";
                                    break;
                                default:
                                    reselectedSortby = "default";
                                    break;
                            }
                            $('.sort-by-script').val(reselectedSortby)
                        }
                    });
                }

                function sortby(e) {
                    var sortby = $(e).find("option:selected").val();
                    _selectSortby(sortby);
                    doSearch(1);
                }

                function _selectSortby(sort) {
                    switch (sort) {
                        case "price-asc":
                            selectedSortby = "price_min:asc";
                            break;
                        case "price-desc":
                            selectedSortby = "price_min:desc";
                            break;
                        case "alpha-asc":
                            selectedSortby = "name:asc";
                            break;
                        case "alpha-desc":
                            selectedSortby = "name:desc";
                            break;
                        case "created-desc":
                            selectedSortby = "created_on:desc";
                            break;
                        case "created-asc":
                            selectedSortby = "created_on:asc";
                            break;
                        default:
                            selectedSortby = sort;
                            break;
                    }
                }

                function toggleCheckbox(id) {
                    $(id).click();
                }

                function pushCurrentFilterState(options) {
                    if (!options) options = {};

                    var url = filter.buildSearchUrl(options);
                    var queryString = url.slice(url.indexOf('?'))
                    pushState(queryString);
                }

                function pushState(url) {
                    window.history.pushState({
                        turbolinks: true,
                        url: url
                    }, null, url)
                }

                function selectFilterByCurrentQuery() {
                    var isFilter = false;
                    var url = window.location.href;
                    var queryString = decodeURI(window.location.search);
                    var filters = queryString.match(/\(.*?\)/g);

                    if (filters && filters.length > 0) {
                        filters.forEach(function (item) {
                            item = item.replace(/\(\(/g, "(");
                            var element = $(".filter-container input[value='" + item + "']");
                            element.attr("checked", "checked");
                            _toggleFilter(element);
                        });

                        isFilter = true;
                    }

                    var sortOrder = getParameter(url, "sortby");
                    if (sortOrder) {
                        _selectSortby(sortOrder);
                    }

                    if (isFilter) {
                        doSearch(1);
                    }
                }

                function getParameter(url, name) {
                    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
                    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                        results = regex.exec(url);
                    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
                }

                $(document).ajaxComplete(function () {
                    NProgress.done();
                });

                $(document).ready(function () {
                    selectFilterByCurrentQuery();
                });
            </script>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".tab-collection .list-list").click(function () {
            $('.tab-collection li a').removeClass('active');
            $(this).addClass('active');
            $(".tabcontent").css('display', 'none');
            $('#list').css('display', 'block');
        });
        $(".tab-collection .grid-grid").click(function () {
            $('.tab-collection li a').removeClass('active');
            $(this).addClass('active');
            $(".tabcontent").css('display', 'none');
            $('#grid').css('display', 'block');
        });
    });


    // Get the element with id="defaultOpen" and click on it
</script>





