@model  IEnumerable<ShopOnline.Models.QLTrangGioiThieu>

@foreach(var item in Model)
{
    <div class="">

        <header class="page-header">
            <h1 class="cat-heading">@item.TieuDe</h1>
        </header>

        <div class="rte">
           @Html.Raw(@item.NoiDung)
        </div>
    </div>
}

