@model ShopOnline.Models.KHACHHANG

@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="main-container col1-layout">
    <div class="main container">
        <div class="account-login">
            <div class="page-title">
                <h2 style="text-align:center">Đăng ký</h2>
            </div>
            <fieldset class="col2-set">
                <div class="col-1 registered-users">
                    <div class="content">
                        @using (Html.BeginForm())

                        {

                            @Html.ValidationSummary(true)

                            <form>
                                <strong>Đăng ký</strong>
                                <p>Nếu bạn chưa có tài khoản hãy điền theo mẫu dưới đây để đăng ký.</p>

                                <ul class="form-list">
                                    <li>
                                        <div class="customer-name">
                                            <div class="input-box name-firstname">
                                                <label for="hovaten">Họ và tên:<span class="required">*</span></label>
                                                <br>
                                                <input type="text" name="HoTen" class="input-text " placeholder="Nhập họ và tên" required>
                                            </div>
                                            <div class="input-box name-firstname">
                                                <label for="ngaysinh">Ngày sinh:<span class="required">*</span></label>
                                                <br>
                                                <input type="date" name="Ngaysinh" class="input-text " placeholder="Nhập ngày sinh" required>
                                            </div>

                                            <div class="input-box name-firstname">
                                                <label for="ngaysinh">Địa Chỉ:<span class="required">*</span></label>
                                                <br>
                                                <input type="text" name="DiachiKH" class="input-text " placeholder="Nhập địa chỉ" required>
                                            </div>

                                            <div class="input-box name-firstname">
                                                <label for="sodienthoai">Số điện thoại:<span class="required">*</span></label>
                                                <br>
                                                <input type="text" name="DienthoaiKH" class="input-text " placeholder="Nhập sô điện thoại" required>
                                            </div>

                                            <div class="input-box name-ussername">
                                                <label for="lastname">Tên đăng nhập<span class="required">*</span> </label>
                                                <br>
                                                <input type="text" class="input-text" name="Taikhoan" placeholder="Nhập tên đăng nhập" required>
                                            </div>

                                            <div class="input-box name-ussername">
                                                <label for="email">Email<span class="required">*</span></label>
                                                <br>
                                                <input type="email" class="input-text" name="Email" placeholder="Email" required>
                                            </div>
                                            <div class="input-box name-ussername">
                                                <label for="pass">Mật khẩu<span class="required">*</span></label>
                                                <br>
                                                <input type="password" class="input-text" name="Matkhau" placeholder="Nhập mật khẩu" required>

                                            </div>
                                        </div>



                                    </li>

                                </ul>
                                <p class="required">* Bắt buộc</p>
                                <div class="buttons-set">
                                    <button id="send2" type="submit" class="button login" style="margin-right: 5px;"><span>Đăng ký</span></button>
                                    <p style="line-height: 40px; margin-left: 5px; float: left;">hoặc <a href="/Members/Dangnhap">Đăng nhập</a></p>
                                </div>
                            </form>
                        }
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</section>
