
@{
    ViewBag.Title = "DoiMatKhau";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <h1 class="display-4 text-center">Thay đổi mật khẩu</h1>

    <hr />
    <div class="row">

        <div class="col-md-4 offset-4">
            @if (ViewBag.IsSuccess == true)
            {
                <div class="alert alert-success" role="alert">
                    Password has been updated successfully
                </div>
            }
                <ul class="form-list">
                    <li>
                        <label for="pass">Mật khẩu hiện tại<span class="required"></span></label>
                        <br>
                        <input type="text" class="input-text" name="txtMatKhau" placeholder="Mật khẩu hiện tại">
                    </li>

                    <li>
                        <label for="pass">Mật khẩu mới<span class="required"></span></label>
                        <br>
                        <input type="password" class="input-text" name="txtMatKhau" placeholder="Mật khẩu mới">
                    </li>
                    <li>
                        <label for="pass">Xác nhận mật khẩu mới<span class="required"></span></label>
                        <br>
                        <input type="password" class="input-text" name="txtMatKhau" placeholder="Xác nhận mật khẩu mới">
                    </li>

                    <li class="form-group">
                        <input type="submit" value="Thay đổi mật khẩu" class="button" />
                    </li>
                </ul>
            @*<form asp-action="ChangePassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-list">
                    <label asp-for="Mật khẩu hiện tại" class="required"></label>
                    <input asp-for="Mật khẩu hiện tại" class="required" />
                    <span asp-validation-for="CurrentPassword" class="required"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Mật khẩu mới" class="control-label"></label>
                    <input asp-for="Mật khẩu mới" class="form-control" />
                    <span asp-validation-for="Mật khẩu mới" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Xác nhận mật khẩu mới" class="control-label"></label>
                    <input asp-for="Xác nhận mật khẩu mới" class="form-control" />
                    <span asp-validation-for="Xác nhận mật khẩu mới" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Thay đổi mật khẩu" class="button" />
                </div>
            </form>*@
        </div>
    </div>

</div>

