
@{
    ViewBag.Title = "SuccessQuenMK";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cấp lại mật khẩu</h2>


<div class="alert alert-success">
    Mật khẩu của bạn đã được gửi đến gmail. Vui lòng kiểm tra gmail của bạn !!!!
</div>

