
@{
    ViewBag.Title = "ThemMoi";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<div id="page-wrapper" style="min-height: 612px;">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Thêm Mới Danh Sách Nhân Viên</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Thêm Nhân viên

                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                <form role="form">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Họ Và Tên</label>
                                            <input type="text" class="form-control" name="HoTen" placeholder="Nhập Họ Và Tên" required>
                                        </div>

                                        <div class="form-group">
                                            <label>Ngày Sinh</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input type="date" class="form-control" required name="Ngaysinh" />

                                            </div><!-- /.input group -->
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Địa Chỉ</label>
                                            <input type="text" class="form-control" name="DiachiNV" placeholder="Nhập Địa Chỉ" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Điện Thoại</label>
                                            <input type="text" class="form-control" name="DienthoaiNV" placeholder="Nhập Số Điện Thoại" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Email</label>
                                            <input type="text" class="form-control" name="Email" placeholder="Nhập Địa Chỉ Email" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Tài Khoản</label>
                                            <input type="text" class="form-control" name="Taikhoan" placeholder="Nhập Tên Tài Khoản" required>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Mật Khẩu</label>
                                            <input type="text" class="form-control" name="Matkhau" placeholder="Nhập Mật Khẩu" required>
                                        </div>
                                    </div><!-- /.box-body -->
                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-primary">Thêm</button>


                                    </div>
                                </form>
                            }
                            <button onclick="window.location.href = '/admin/NhanVien/DanhSach'" class="btn btn-primary">Hủy</button>
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
