@{
    Layout = null;
}
@using ShopOnline.Models
@model List<Giohang>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Shop name - Thanh toán đơn hàng" />

    <title>Revo - Cảm ơn</title>


    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />


    <link href='//bizweb.dktcdn.net/assets/themes_support/bootstrap.min.css?20171025' rel='stylesheet' type='text/css' />
    <link href='//bizweb.dktcdn.net/assets/themes_support/font-awesome.min.css?20171025' rel='stylesheet' type='text/css' />
    <link href='//bizweb.dktcdn.net/assets/themes_support/thankyou.css?20180327' rel='stylesheet' type='text/css' />


    <link href='//bizweb.dktcdn.net/100/154/087/checkout_stylesheet/612450/checkout.css?1515765301774' rel='stylesheet' type='text/css' />



    <script>
        var Bizweb = Bizweb || {};
        Bizweb.store = 'revo.bizwebvietnam.net';
        Bizweb.theme = { "id": 612450, "role": "main", "name": "Revo_2011Dongi" };
    </script>
    <script type="text/javascript">
        //<![CDATA[
        Bizweb.checkout = { "created_on": "2018-04-16T11:53:13Z", "currency": "VND", "customer_id": 8046241, "email": "tnhl@gmail.com", "location_id": null, "order_id": 4314327, "phone": null, "requires_shipping": true, "reservation_time": null, "source_name": "web", "source_identifier": null, "source_url": null, "taxes_included": false, "tax_exempt": false, "tax_lines": null, "token": "a360208b2e004d1c947352bd56c0e7ef", "updated_at": null, "payment_due": null, "payment_url": null, "reservation_time_left": 0, "subtotal_price": "150000.0000", "total_price": "190000.0000", "total_tax": null, "line_items": [{ "id": 5272005, "shipping_status": null, "wait_to_ship_quantity": 0, "grams": 0, "price": 150000.0000, "product_id": 4805990, "quantity": 1, "requires_shipping": true, "sku": null, "title": "Túi xách nữ thời trang DT1039", "variant_id": 7774398, "variant_title": "Pink / S", "vendor": null, "name": "Túi xách nữ thời trang DT1039 Pink / S", "gift_card": false, "total_discount": 0.0000, "shipping_service": null, "product_exist": false, "image": null, "url": null, "properties": {} }], "shipping_rate": null, "shipping_address": { "id": 0, "first_name": "jflsdf", "last_name": null, "phone": "01691308885", "company": null, "address1": "qưeqweeqw", "address2": null, "city": "Bà Rịa-Vũng Tàu", "province": "Bà Rịa-Vũng Tàu", "province_code": "64", "country": "Việt Nam", "country_code": "VN", "zip": null }, "billing_address": { "id": 0, "first_name": "jflsdf", "last_name": null, "phone": "01691308885", "company": null, "address1": "qưeqweeqw", "address2": null, "city": "Bà Rịa-Vũng Tàu", "province": "Bà Rịa-Vũng Tàu", "province_code": "64", "country": "Việt Nam", "country_code": "VN", "zip": null }, "discount": null };
        //]]>
    </script>
    <script>
        (function () {
            function asyncLoad() {
                var urls = [];
                for (var i = 0; i < urls.length; i++) {
                    var s = document.createElement('script');
                    s.type = 'text/javascript';
                    s.async = true;
                    s.src = urls[i];
                    s.src = urls[i];
                    var x = document.getElementsByTagName('script')[0];
                    x.parentNode.insertBefore(s, x);
                }
            }
            window.attachEvent ? window.attachEvent('onload', asyncLoad) : window.addEventListener('load', asyncLoad, false);
        })();
    </script>


</head>

<body class="body--custom-background-color ">

    <div context="checkout" define="{checkout: new Bizweb.Checkout(this,{})}" class="container">
        <div class="header">

        </div>
        <div class="main">
            <div class="wrap clearfix">
                <div class="row thankyou-infos">
                    <div class="col-md-7 thankyou-message">
                        <div class="thankyou-message-icon unprint">
                            <div class="icon icon--order-success svg">
                                <svg xmlns="http://www.w3.org/2000/svg" width="72px" height="72px">
                                    <g fill="none" stroke="#8EC343" stroke-width="2">
                                        <circle cx="36" cy="36" r="35" style="stroke-dasharray:240px, 240px; stroke-dashoffset: 480px;"></circle>
                                        <path d="M17.417,37.778l9.93,9.909l25.444-25.393" style="stroke-dasharray:50px, 50px; stroke-dashoffset: 0px;"></path>
                                    </g>
                                </svg>
                            </div>
                        </div>
                        <div class="thankyou-message-text">
                            <h3> Thông tin đơn hàng quý khách</h3>

                            <div style="font-style: italic;">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-12 order-info" define="{order_expand: false}">

                        <div class="order-summary order-summary--custom-background-color ">
                            <div class="order-summary-header summary-header--thin summary-header--border">
                                <h2>
                                    <label class="control-label">Đơn hàng</label>

                                    <label class="control-label unprint">(1)</label>
                                </h2>
                                <a class="underline-none expandable expandable--pull-right mobile unprint" bind-event-click="toggle(this, '.order-items')" bind-class="{open: order_expand}" href="javascript:void(0)">
                                    Xem chi tiết
                                </a>
                            </div>

                            <div class="order-items mobile--is-collapsed" bind-class="{'mobile--is-collapsed': !order_expand}">
                                <div class="summary-body summary-section summary-product">
                                    <div class="summary-product-list">
                                        <ul class="product-list">
                                            @foreach (var item in Model)
                                            {
                                                <li class="product product-has-image clearfix">

                                                    <div class="product-thumbnail pull-left">

                                                        <div class="product-thumbnail__wrapper">

                                                            <img src='~/Hinhsanpham/@item.sHinhAnh' alt='Sofa phòng khách Default Title' class='product-thumbnail__image' />

                                                        </div>
                                                        <span class="product-thumbnail__quantity unprint" aria-hidden="true">1</span>
                                                    </div>
                                                    <div class="product-info pull-left">
                                                        <span class="product-info-name">
                                                            <strong>@item.sTenSANPHAM</strong>
                                                            <label class="print">x1</label>
                                                        </span>


                                                    </div>
                                                    <strong class="product-price pull-right">
                                                        @String.Format("{0:0,0}", item.dThanhtien)
                                                    </strong>

                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="summary-section  border-top-none--mobile ">
                                <div class="total-line total-line-subtotal clearfix">
                                    <span class="total-line-name pull-left">
                                        Tạm tính
                                    </span>
                                    <span class="total-line-subprice pull-right">

                                    </span>
                                </div>


                                <div class="total-line total-line-shipping clearfix">
                                    <span class="total-line-name pull-left">
                                        Phí vận chuyển
                                    </span>
                                    <span class="pull-right">Miễn phí</span>
                                </div>


                            </div>

                            <div class="summary-section">
                                <div class="total-line total-line-total clearfix">
                                    <span class="total-line-name total-line-name--bold pull-left">
                                        Tổng phí thanh toán
                                    </span>

                                    <span class="total-line-price pull-right">@String.Format("{0:0,0}", ViewBag.Tongtien) VNĐ</span>

                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- thong tin chi tiet xac nhan don hang-->
                    @using (Html.BeginForm())
                    {
                        <div class="col-md-7 col-sm-12 customer-info">
                            @{
                        KHACHHANG kh = (KHACHHANG)Session["Taikhoan"];
                            }
                            <div class="shipping-info">
                                <div class="row">

                                    <div class="col-md-6 col-sm-6">
                                        <div class="order-summary order-summary--white no-border no-padding-top">
                                            <div class="order-summary-header">
                                                <h2>
                                                    <label class="control-label">Thông tin khách hàng</label>
                                                </h2>
                                            </div>
                                            <div class="summary-section no-border no-padding-top">
                                                <p class="address-name">Họ và tên:@kh.HoTen </p>
                                                <p class="address-address"> Địa chỉ khách hàng:@kh.DiachiKH</p>
                                                <p class="address-district">Điện thoại liên hệ:@kh.DienthoaiKH </p>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="order-summary order-summary--white no-border">
                                            <div class="order-summary-header">
                                                <h2>
                                                    <label class="control-label">Hình thức thanh toán</label>
                                                </h2>
                                            </div>
                                            <div class="summary-section no-border no-padding-top">
                                                <span>Thanh toán khi giao hàng (COD)</span>

                                            </div>
                                            <div class="summary-section no-border no-padding-top">
                                                <span>Thanh toán online</span>

                                            </div>
                                            
                                        </div>
                                    </div>

                                    @*<div class="col-md-6 col-sm-6">
                                        <div class="order-summary order-summary--white no-border">
                                            <div class="order-summary-header">
                                                <h2>
                                                    <label class="control-label">Ngày giao hàng</label>
                                                </h2>
                                            </div>
                                            <div class="summary-section no-border no-padding-top">
                                                <input type="date" value="" name="Ngaygiao" placeholder="Nhập Ngày giao hàng" required>
                                            </div>
                                        </div>
                                    </div>*@

                                </div>
                            </div>
                            <div class="order-success unprint">

                                <input type="Submit" value="ĐỒNG Ý ĐẶT HÀNG" class="btn btn-primary">


                            </div>

                        </div>
    <!-- thong tin chi tiet don hang-->
                    }
                </div>
            </div>

        </div>
    </div>
</body>
</html>
