.home-slider{
    overflow:hidden
}
.home-slider .item{
    position:relative
}
.home-slider .owl-dots{
    text-align:right !important;
    padding-right:35px;
    bottom:18px !important
}
.home-slider.owl-carousel .owl-nav .owl-next{
    right:15px !important;
    background:transparent;
    top:50%
}
.home-slider.owl-carousel .owl-nav .owl-prev{
    left:15px !important;
    background:transparent;
    top:50%
}
.home-slider.owl-carousel .owl-nav .owl-prev:before,.home-slider.owl-carousel .owl-nav .owl-next:before{
    font-size:84px;
    background:transparent
}
@media (max-width: 480px){
    .xs-full{
        width:100%;
        padding:0
    }
}
.section_tab_product h2{
    font-size:1.71429em;
    text-transform:uppercase;
    line-height:1;
    margin:0 0 20px 0
}
.section_tab_product .tabs-title{
    margin-bottom:14px;
    border-radius:5px;
    overflow:hidden
}
.section_tab_product .tabs-title li{
    width:140px;
    display:inline-block;
    background:#dadbdb;
    height:55px;
    line-height:55px;
    margin-right:1px
}
.section_tab_product .tabs-title li.current{
    color:#fff;
    background:#e6518b
}
.section_tab_product .tab-content{
    clear:left
}
@media (min-width: 1200px){
    .section_tab_product .tab-content .products .col-lg-3:nth-child(4n+1){
        clear:left
    }
}
@media (max-width: 1199px) and (min-width: 768px){
    .section_tab_product .products .col-sm-4:nth-child(3n+1){
        clear:left
    }
}
.section-news h2{
    line-height:60px;
    position:relative;
    margin:0 0 25px 0
}
.section-news h2:before{
    position:absolute;
    content:"";
    width:100px;
    height:2px;
    background:#dadada;
    left:50%;
    -moz-transform:translate(-50%, 0);
    -o-transform:translate(-50%, 0);
    -ms-transform:translate(-50%, 0);
    -webkit-transform:translate(-50%, 0);
    transform:translate(-50%, 0)
}
.section-news h2:after{
    bottom:0;
    position:absolute;
    content:"";
    width:100px;
    height:2px;
    background:#dadada;
    left:50%;
    -moz-transform:translate(-50%, 0);
    -o-transform:translate(-50%, 0);
    -ms-transform:translate(-50%, 0);
    -webkit-transform:translate(-50%, 0);
    transform:translate(-50%, 0)
}
.section-news .blog-item{
    background:#fff
}
.section-policy{
    padding:15px 0
}
.policy{
    position:relative;
    height:48px
}
.policy-icon{
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    min-width:60px
}
.policy-text{
    padding-left:60px
}
.section-policy h4{
    font-size:16px;
    font-weight:400;
    margin:0;
    padding-top:5px
}
.section-policy p{
    color:#898989;
    margin:0;
    line-height:15px;
    font-size:13px
}
@media (max-width: 1199px){
    .policy{
        height:auto
    }
    .section-policy{
        border:none
    }
    .policy-icon{
        display:inline-block;
        margin-bottom:10px;
        float:none;
        padding:0
    }
}
@media (max-width: 767px){
    .policy{
        height:auto;
        padding:10px 0;
        margin-left:40px
    }
}
@media (max-width: 543px){
    .policy{
        margin-left:0px
    }
}
.collection-policy .section-policy{
    padding:0
}
.collection-policy .section-policy .policy-content{
    padding:30px 0;
    border-top:1px solid #ebebeb
}
.line-pt{
    font-weight:400;
    line-height:35px;
    height:35px;
    background:#fcfcfc url(//bizweb.dktcdn.net/100/177/134/themes/235073/assets/bg-menu2.png?1511317960217);
    text-align:center;
    margin-bottom:50px;
    font-size:16px;
    font-weight:700;
    color:#e6518b;
    text-transform:uppercase
}
.line-pt a{
    color:#e6518b
}
.countdown-times div{
    display:inline-block;
    width:50px;
    height:50px;
    line-height:50px;
    text-align:center;
    border:1px solid #ebebeb;
    margin:0 10px;
    border-radius:50%;
    position:relative
}
.countdown-times div:before{
    content:":";
    font-size:21px;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    left:-14px
}
.countdown-times div:first-child:before{
    display:none
}
.section-deal h2{
    margin:0;
    font-size:1.5em;
    line-height:50px;
    transform:translateY(1px)
}
.section-deal h2 a{
    color:#e6518b
}
.section-deal .section-title{
    margin-bottom:30px
}
.section-deal .section-title label{
    font-weight:400;
    display:inline;
    line-height:50px;
    color:#898989
}
.section-deal .product-box{
    border:none;
    padding:2px
}
.section-deal .product-box .product-name{
    margin:20px 0 5px
}
.section-deal .product-box .product-name a{
    color:#363636
}
.section-deal .product-box .product-name a:hover{
    color:#e6518b
}
.section-deal .product-box .product-thumbnail{
    margin:0
}
.section-deal .product-box .product-thumbnail a{
    height:258px
}
.section-deal .product-box .product-thumbnail a img{
    margin:0 auto
}
.section-deal .products-view-grid .product-box:hover{
    -webkit-box-shadow:inset 0px 0px 0px 2px #e6518b;
    -moz-box-shadow:inset 0px 0px 0px 2px #e6518b;
    box-shadow:inset 0px 0px 0px 2px #e6518b
}
.section-deal .products-view-grid .product-box .product-action{
    bottom:2px;
    width:calc(100% - 4px)
}
.section-deal .products-view-grid .product-box .product-info{
    height:46px
}
@media (max-width: 991px){
    .line-pt{
        margin-bottom:20px
    }
    .section-deal .section-title{
        margin-bottom:20px
    }
}
@media (max-width: 767px){
    .line-pt{
        display:none
    }
    .section-deal .product-box .product-thumbnail a{
        height:220px
    }
    .section-deal .top-right-owl-nav.owl-carousel .owl-nav .owl-next{
        top:50%;
        right:0;
        margin-top:-55px
    }
    .section-deal .top-right-owl-nav.owl-carousel .owl-nav .owl-prev{
        top:50%;
        left:0;
        margin-top:-55px
    }
}
@media (max-width: 480px){
    .section-deal .product-box .product-thumbnail a{
        max-height:220px
    }
}
@media (max-width: 375px){
    .section-deal .product-box .product-thumbnail a{
        max-height:1000px;
        height:auto
    }
    .section-deal .product-box .product-thumbnail a img{
        width:100%;
        height:auto
    }
    .section-deal .product-box{
        border:none;
        padding:0
    }
}
@media (max-width: 320px){
    .section-deal .product-box .product-thumbnail a{
        max-height:1000px;
        height:auto
    }
    .section-deal .product-box .product-thumbnail a img{
        width:100%;
        height:auto
    }
}
.sale-menu{
    width:225px;
    float:left
}
.sale-menu a.active{
    font-weight:700
}
.sale-menu h2{
    position:relative;
    margin:0;
    line-height:40px;
    text-transform:uppercase;
    font-size:1.14286em;
    padding-left:23px;
    color:#e6518b;
    font-weight:700
}
.sale-menu h2 a{
    color:#e6518b
}
.sale-menu h2>i{
    width:14px;
    cursor:pointer;
    color:#252525;
    z-index:10;
    text-align:center;
    float:right;
    line-height:40px
}
.sale-menu h2>i.fa-angle-right{
    margin-right:10px
}
.sale-menu h2>i:hover{
    color:#e6518b
}
.sale-menu h2>i.disable{
    cursor:not-allowed
}
.sale-menu h2 .border{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:-1
}
.sale-menu h2 .border.border-bottom{
    background-image:linear-gradient(to right, #e6518b 60%, rgba(255,255,255,0) 0%);
    background-position:bottom;
    background-size:8px 1px;
    background-repeat:repeat-x
}
.sale-menu h2 .border.border-top{
    background-image:linear-gradient(to right, #e6518b 60%, rgba(255,255,255,0) 0%);
    background-position:top;
    background-size:8px 1px;
    background-repeat:repeat-x
}
.sale-menu h2 .border.border-right{
    background-image:linear-gradient(#e6518b 60%, rgba(255,255,255,0) 0%);
    background-position:right;
    background-size:1px 8px;
    background-repeat:repeat-y
}
.sale-menu h2 .border.border-left{
    background-image:linear-gradient(#e6518b 60%, rgba(255,255,255,0) 0%);
    background-position:left;
    background-size:1px 8px;
    background-repeat:repeat-y
}
.sale-menu ul{
    background:#e6518b;
    color:#fff;
    margin-top:1px;
    padding:10px 24px 10px 24px
}
.sale-menu ul a{
    color:#fff
}
.sale-menu ul li{
    background-image:linear-gradient(to right, #fff 60%, rgba(255,255,255,0) 0%);
    background-position:bottom;
    background-size:8px 1px;
    background-repeat:repeat-x;
    line-height:20px;
    padding:15.8px 0
}
.sale-menu ul li:last-child{
    background:none
}
.sale-content{
    min-height:460px;
    width:calc(100% - 225px);
    float:left;
    position:relative;
    margin-top:40px;
    border-top:1px solid #ebebeb
}
.sale-content.loadding:before{
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    z-index:10;
    background:rgba(255,255,255,0.7)
}
.sale-content .loading-icon{
    display:none;
    position:absolute;
    left:50%;
    top:30%;
    transform:translate(-50%, -50%)
}
.sale-content.loadding .loading-icon{
    display:block
}
.sale-content .products-view-grid .product-box .product-info{
    height:auto;
    margin-bottom:20px
}
.sale-content .product-box{
    padding:0px 15px
}
.sale-content .product-box .product-name{
    margin-top:25px
}
.sale-content .product-box .product-name a{
    color:#252525
}
.sale-content .product-box .product-name a:hover{
    color:#e6518b
}
.sale-content .product-box .product-summary{
    color:#898989;
    margin:5px 0 13px
}
.sale-content .products-view-grid .product-box:hover .product-info{
    opacity:1
}
@media (max-width: 991px){
    .sale-menu{
        width:100%;
        float:none
    }
    .sale-menu ul{
        display:none
    }
    .sale-content{
        min-height:auto;
        width:100%;
        float:none;
        margin-top:0
    }
    .sale-menu h2>i.disable{
        opacity:0
    }
}
@media (max-width: 767px){
    .sale-content .col-xs-12.col-sm-6.col-md-6.col-lg-6:nth-child(3),.col-xs-12.col-sm-6.col-md-6.col-lg-6:nth-child(4){
        display:none
    }
}
.section-sale h2{
    width:228px;
    position:relative;
    margin:0;
    line-height:40px;
    text-transform:uppercase;
    font-size:1.14286em;
    padding-left:23px;
    color:#e6518b;
    font-weight:700
}
.section-sale h2 a{
    color:#e6518b
}
.section-sale h2>i{
    width:14px;
    cursor:pointer;
    color:#252525;
    z-index:10;
    text-align:center;
    float:right;
    line-height:40px
}
.section-sale h2>i.fa-angle-right{
    margin-right:10px
}
.section-sale h2>i:hover{
    color:#e6518b
}
.section-sale h2 .border{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:-1
}
.section-sale h2 .border.border-bottom{
    background-image:linear-gradient(to right, #e6518b 60%, rgba(255,255,255,0) 0%);
    background-position:bottom;
    background-size:8px 1px;
    background-repeat:repeat-x
}
.section-sale h2 .border.border-top{
    background-image:linear-gradient(to right, #e6518b 60%, rgba(255,255,255,0) 0%);
    background-position:top;
    background-size:8px 1px;
    background-repeat:repeat-x
}
.section-sale h2 .border.border-right{
    background-image:linear-gradient(#e6518b 60%, rgba(255,255,255,0) 0%);
    background-position:right;
    background-size:1px 8px;
    background-repeat:repeat-y
}
.section-sale h2 .border.border-left{
    background-image:linear-gradient(#e6518b 60%, rgba(255,255,255,0) 0%);
    background-position:left;
    background-size:1px 8px;
    background-repeat:repeat-y
}
.section-sale .sale-banner{
    margin-top:40px;
    width:456px;
    float:left
}
.section-sale .owl-carousel .owl-nav .owl-prev,.section-sale .owl-carousel .owl-nav .owl-next{
    top:-40px;
    margin:0;
    height:40px;
    width:15px;
    border:none;
    line-height:40px;
    right:auto;
    left:185px
}
.section-sale .owl-carousel .owl-nav .owl-prev:before,.section-sale .owl-carousel .owl-nav .owl-next:before{
    width:15px;
    line-height:40px;
    font-size:1em
}
.section-sale .owl-carousel .owl-nav .owl-next{
    left:200px
}
.section-sale .sale-product{
    width:calc(100% - 456px);
    float:left
}
.section-sale .product-box .product-thumbnail>a{
    height:201px
}
.section-sale .products-view-grid{
    border-left:1px solid #ebebeb;
    border-top:1px solid #ebebeb
}
.section-sale .products-view-grid .product-box:hover{
    -webkit-box-shadow:inset 0px 0px 0px 2px #e6518b;
    -moz-box-shadow:inset 0px 0px 0px 2px #e6518b;
    box-shadow:inset 0px 0px 0px 2px #e6518b
}
.section-sale .products-view-grid .product-box:hover .product-action{
    transform:translateY(-2px);
    -webkit-transform:translateY(-2px);
    -moz-transform:translateY(-2px);
    -o-transform:translateY(-2px)
}
.section-new-bestseller{
    background:url("//bizweb.dktcdn.net/100/177/134/themes/235073/assets/bestseller_new.png?1511317960217");
    background-size:cover;
    padding:50px 0 70px
}
.section-new-bestseller .owl-carousel .owl-nav .owl-prev,.section-new-bestseller .owl-carousel .owl-nav .owl-next{
    top:-55px;
    color:#fff;
    border-color:#fff
}
.section-new-bestseller .owl-carousel .owl-nav .owl-prev:hover,.section-new-bestseller .owl-carousel .owl-nav .owl-next:hover{
    color:#e6518b;
    border-color:#e6518b
}
.section-new-bestseller h2{
    margin:0;
    font-size:16px;
    font-weight:700;
    text-transform:uppercase;
    line-height:45px;
    margin-bottom:10px
}
.section-new-bestseller div[class*=col]:nth-child(2n+1){
    clear:left
}
.section-new-bestseller .products{
    background:#fff;
    padding:0 15px
}
.section-new-bestseller .product-mini-item{
    padding:15px 0;
    margin:0
}
.section-new-bestseller .product-mini-item .product-info{
    width:calc(100% - 80px)
}
.section-new-bestseller .product-mini-item .product-img{
    width:70px
}
.section-new-bestseller .product-mini-item .star-off-png::before{
    color:#898989 !important
}
.section-new-bestseller .product-mini-item .product-info h3{
    margin-bottom:0
}
.section-new-bestseller .product-mini-item .product-info h3 a{
    color:#464646;
    font-weight:400
}
.section-new-bestseller .product-mini-item .product-info h3 a:hover{
    color:#e6518b
}
.section-new-bestseller .product-mini-item .product-price{
    color:#e6518b
}
.section-new-bestseller .product-mini-item .bizweb-product-reviews-badge{
    margin:0
}
.section-new-bestseller .product-mini-item .bizweb-product-reviews-badge>div{
    display:none
}
.section-new-bestseller .product-mini-item .bizweb-product-reviews-badge>div.bizweb-product-reviews-star{
    display:block
}
@media (max-width: 991px){
    .section-sale .sale-product{
        width:50%
    }
    .section-sale .sale-banner{
        width:50%
    }
}
@media (max-width: 767px){
    .section-new-bestseller{
        padding:20px 0 30px
    }
    .section-sale .sale-product{
        width:100%;
        float:none
    }
    .section-sale .sale-banner{
        display:none
    }
    .section-sale h2{
        width:100%
    }
    .section-sale .owl-carousel .owl-nav .owl-prev,.section-sale .owl-carousel .owl-nav .owl-next{
        right:25px;
        left:auto
    }
    .section-sale .owl-carousel .owl-nav .owl-next{
        left:auto;
        right:10px
    }
}
.section-news-testimonial h2{
    font-size:1.5em;
    margin-top:0;
    margin-bottom:20px
}
.section-news-testimonial .blog-item{
    margin-bottom:45px;
    border-bottom:none;
    padding-bottom:0
}
.section-news-testimonial .blog-item:last-child{
    margin-bottom:0
}
.section-news-testimonial .blog-item .blog-item-name{
    font-size:1.28571em;
    margin-bottom:10px
}
.section-news-testimonial .blog-item .blog-item-thumbnail{
    float:left;
    width:220px
}
.section-news-testimonial .blog-item .blog-item-info{
    float:left;
    width:calc(100% - 220px);
    padding-left:30px
}
.section-news-testimonial .blog-item .post-time{
    color:#ccc;
    font-size:1em
}
.section-news-testimonial .blog-item .post-time span{
    color:#ccc
}
.section-news-testimonial .blog-item .post-time span.author{
    text-decoration:underline
}
.section-news-testimonial .blog-item .blog-item-summary{
    font-size:1em;
    margin-bottom:0;
    color:#959595;
    line-height:22px
}
.testimonial-item{
    margin-bottom:55px
}
.testimonial-item:last-child{
    margin-bottom:10px
}
.testimonial-item .testimonial-content{
    line-height:24px;
    color:#898989
}
.testimonial-item .avatar{
    float:left;
    margin-right:18px;
    border-radius:50%
}
.testimonial-item .name{
    font-size:1.28571em;
    color:#252525;
    line-height:24px
}
.testimonial-item .customer{
    margin-top:20px
}
.testimonial-item .customer-info p{
    color:#898989
}
@media (max-width: 991px){
    .blogs-content .col-md-6+.col-md-6{
        margin-top:30px
    }
}
@media (max-width: 543px){
    .section-news-testimonial .blog-item{
        margin-bottom:30px
    }
    .section-news-testimonial .blog-item .post-time span.f-right{
        float:none !important;
        margin-left:10px
    }
    .section-news-testimonial .blog-item .blog-item-thumbnail{
        width:100%
    }
    .section-news-testimonial .blog-item .blog-item-info{
        width:100%;
        margin-top:15px;
        padding-left:0
    }
    .testimonial-item{
        margin-bottom:20px;
        padding-bottom:20px;
        border-bottom:1px dotted #ebebeb
    }
    .testimonial-item:last-child{
        margin-bottom:0;
        padding-bottom:0;
        border-bottom:none
    }
}
.section-brand{
    padding:30px 0
}
.rowBrand{
    margin-left:-20px;
    margin-right:-20px
}
.brand-item{
    border:1px solid #ebebeb;
    text-align:center;
    width:calc(20% - 40px);
    float:left;
    margin:0 20px
}
.brand-item:hover{
    -webkit-box-shadow:-10px 5px 39px -5px #8f888f;
    -moz-box-shadow:-10px 5px 39px -5px #8f888f;
    box-shadow:-10px 5px 39px -5px #8f888f
}
.brand-item img{
    margin:0 auto
}
@media (max-width: 1199px){
    .rowBrand{
        margin-left:0;
        margin-right:0
    }
    .brand-item{
        width:100%;
        margin:0
    }
}
