@model IEnumerable<ShopOnline.Models.LienHe>

@foreach (var item in Model)
{
    <div class="footer-column-last pull-left">
        <h4>Liên hệ</h4>
        <address>
            <i class="add-icon">&nbsp;</i><p>Địa chỉ:@item.DiaChi</p>
        </address>
        <div class="phone-footer">
            <i class="phone-icon">&nbsp;</i>
            <p style="margin: 0;padding: 0;line-height: 10px;">
                Phone 1: <a href="tel:@item.Sodienthoai">@item.Sodienthoai</a> <br />

                Phone 2: <a href="tel:@item.Sodienthoai">@item.Sodienthoai</a>
            </p>
        </div>
        <div class="email-footer"><i class="email-icon">&nbsp;</i><a href="mail:@item.Email">Email:@item.Email</a></div>
    </div>
}