@model IEnumerable<ShopOnline.Models.QUANGCAO>

@foreach (var qc in Model)
{
        <div class="carousel-inner" role="listbox">
        <div class="item">
            <a href="#">
                <img src="~/Hinhsanpham/@qc.slider1" alt="Revo">
            </a>
        </div>
        <div class="item">
            <a href="#">
                <img src="~/Hinhsanpham/@qc.slider2" alt="Revo">
            </a>
        </div>
        <div class="item active">
            <a href="#">
                <img src="~/Hinhsanpham/@qc.slider3" alt="Revo">
            </a>
        </div>
    </div>

     
}